body {
    font-family: Arial, sans-serif;
        padding: 20px;
        margin: 0;
        background-color: #f4f4f9;
}

h2 {
    text-align: center;
}

/* form {
    width: 300px;
    margin: 0 auto;
} */

label {
    display: block;
    margin: 5px 0;
}
#registration-form{
    display: flex;
        flex-wrap: wrap;
        
        gap: 25px;
        
        max-width: 1300px;
        
        margin: 0 auto;
}
.form-group {
    flex: 1 1 calc(22.222% - 20px);
    
    display: flex;
    flex-direction: column;
    
}
.final{
        align-items: center;
        
        justify-content: space-between;
        
        gap: 10px;
        
        width: 23.5%;
        
        box-sizing: border-box;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
   
    width: 10%;
    margin-top: 20px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button[type="reset"] {
    background-color: #f44336;
    
}
button[type="reset"]:hover {
    background-color: #d32f2f;
}
button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
}

#submitted-data {
    flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        max-width: 1300px;
        margin: 20px auto;
}

#submitted-data th,
#submitted-data td {
    padding: 8px;
    text-align: left;
}

#submitted-data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    
}